params {
    ecr_registry = '767397884316.dkr.ecr.us-east-1.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
    pheno = null
    variants = null
    geno = null
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?DUMPSOFTWAREVERSIONS' { container = 'ghcr/pgscatalog/pyyaml:6.0' }
withName: '(.+:)?PLINK2_RELABELPVAR' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?SCORE_AGGREGATE' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?PLINK2_VCF' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?PLINK2_RELABELBIM' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?COMBINE_SCOREFILES' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?DOWNLOAD_SCOREFILES' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?MATCH_COMBINE' { 
    container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4'
    memory = 16.GB
    cpus = 4
}
withName: '(.+:)?MATCH_VARIANTS' { 
    container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4'
    memory = 32.GB
    cpus = 4
}
withName: '(.+:)?SCORE_REPORT' { container = 'ghcr/pgscatalog/report:2-beta' }
withName: '(.+:)?PLINK2_SCORE' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?EXTRACT_DATABASE' { container = 'ghcr/pgscatalog/zstd:2-beta' }
withName: '(.+:)?INTERSECT_VARIANTS' { 
    container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4'
    memory = 64.GB
    cpus = 16
}
withName: '(.+:)?ANCESTRY_ANALYSIS' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?RELABEL_SCOREFILES' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?FILTER_VARIANTS' { 
    container = 'ghcr/pgscatalog/plink2:2.00a5.10'
    memory = 16.GB
    cpus = 8
}
withName: '(.+:)?RELABEL_AFREQ' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?RELABEL_IDS' { container = 'ghcr/pgscatalog/pygscatalog:pgscatalog-utils-1.4.4' }
withName: '(.+:)?SETUP_RESOURCE' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?MAKE_DATABASE' { container = 'ghcr/pgscatalog/zstd:2-beta' }
withName: '(.+:)?FRAPOSA_PCA' { container = 'ghcr/pgscatalog/fraposa_pgsc:v1.0.2' }
withName: '(.+:)?FRAPOSA_PROJECT' { container = 'ghcr/pgscatalog/fraposa_pgsc:v1.0.2' }
withName: '(.+:)?PLINK2_MAKEBED' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?INTERSECT_THINNED' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
withName: '(.+:)?PLINK2_ORIENT' { container = 'ghcr/pgscatalog/plink2:2.00a5.10' }
}
